:root {
    --green: lightcyan;
    --white: #FFFFFF;
    --black: cadetblue;
}

body {
    background: var(--bg);
    color: var(--fontColor);
    text-align: center;
    font-family: Arial;
    vertical-align: middle
}

.light-theme {
    --bg: var(--green);
    --fontColor: var(--black);
    --btnBg: var(--black);
    --btnFontColor: var(--white);
}

.dark-theme {
    --bg: var(--black);
    --fontColor: var(--green);
    --btnBg: var(--white);
    --btnFontColor: var(--black);
}

.btnTheme {
    position: absolute;
    top: 20px;
    left: 250px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    color: var(--btnFontColor);
    background-color: var(--btnBg);
}

table.center {
  margin-left: auto;
  margin-right: auto;
}

table.table-striped {
  border: 1px solid var(--fontColor);
  border-collapse: collapse;
}

tr.task-row, td.task-data {
  border: none;
  padding: 8px;
}

tr: nth-child(odd) {
  background-color: #f2f2f2;
}

li {
    list-style: circle;
}

.list {
    list-style: square;
}

label {
    font-size: 12pt;
    font-weight: 700;
}

.formTitle {
    font-size: 25pt;
    font-family: Arial;
    text-align: left
}

.rigTD {
    white-space: nowrap;
    text-align: right;
}

.headerTr1 {
    white-space: nowrap;
    height: 30px;
}

.btn {
    width: 96px;
    height: 29px;
    font-weight: 700;
}

.btnM {
    width: 94px;
    height: 22px;
    font-weight: 700;
}

.logoutLink {
    color: #FF0000;
    font-size: medium;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif
}

.redStripe {
    background-color: #FF0000;
}

#mainMenuMainTableBody {
    width: 990px;
    border: thin outset #C0C0C0;
    border-collapse: collapse;
}

.editLink {
    color: #000000;
    font-size: 8pt;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif
}

table#tab td {
    border: 1px solid #E6E6E6;
}

.auto-style2 {
    width: 130px;
    font-weight: 700;
    text-align: center;
}

.auto-style4 {
    width: 116px;
}

#FormName {
    font-weight: 700;
}

div#tabDiv {
    width: 975px;
    height: 600px;
    overflow: auto;
    scrollbar-base-color: #D8D8D8;
}

thead th, thead th.locked {
    background-color: var(--bg);  //was #D8D8D8 then #B0E0E6
    border-right: 1px solid var(--fontColor);
    position: relative;
    padding: 8px;
}

thead th {
    top: expression(document.getElementById("tabDiv").scrollTop-2);
    z-index: 20;
}

th.locked {
    border-right: 1px solid #E6E6E6;
    border-bottom: 1px solid #E6E6E6;
    text-align: center;
    left: expression(parentNode.parentNode.scrollLeft);
    position: relative;
    z-index: 10;
}

th.locked {
    text-align: center;
    left: expression(parentNode.parentNode.parentNode.parentNode.scrollLeft);
    position: relative;
    z-index: 10;
}

thead th.locked {
    z-index: 30;
}
