:root {
    --green: lightcyan;
    --white: #FFFFFF;
    --black: cadetblue;
}

body {
    background: var(--bg);
    color: var(--fontColor);
    text-align: center;
    font-family: Arial;
    vertical-align: middle
}

.light-theme {
    --bg: var(--green);
    --fontColor: var(--black);
    --btnBg: var(--black);
    --btnFontColor: var(--white);
}

.dark-theme {
    --bg: var(--black);
    --fontColor: var(--green);
    --btnBg: var(--white);
    --btnFontColor: var(--black);
}

.btnTheme {
    position: absolute;
    top: 20px;
    left: 250px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    color: var(--btnFontColor);
    background-color: var(--btnBg);
}

table.center {
  margin-left: auto;
  margin-right: auto;
}

table.table-striped {
  border: 1px solid var(--fontColor);
  border-collapse: collapse;
}

tr.task-row, td.task-data {
  border: none;
  padding: 4px;
}

tr, td {
  border: 1px solid var(--fontColor);
  border-collapse: collapse;
  padding: 4px;
}

tr: nth-child(odd) {
  background-color: #f2f2f2;
}

li {
    list-style: circle;
}

.list {
    list-style: square;
}

label {
    font-size: 12pt;
    font-weight: 700;
}

.formTitle {
    font-size: 25pt;
    font-family: Arial;
    text-align: left
}

.rigTD {
    white-space: nowrap;
    text-align: right;
}

.headerTr1 {
    white-space: nowrap;
    height: 30px;
}

.btn {
    width: 96px;
    height: 29px;
    font-weight: 700;
}

thead th, thead th.locked {
    background-color: #B0E0E6;
    border: 1px solid var(--fontColor);  //was border-right
    position: relative;
    padding: 4px;
}
