:root {
    --green: lightcyan;
    --white: #FFFFFF;
    --black: #2F4F4F;
}

body {
    background: var(--bg);
    color: var(--fontColor);
    text-align: center;
    font-family: Arial;
    vertical-align: middle
}

.light-theme {
    --bg: var(--green);
    --fontColor: var(--black);
    --btnBg: var(--black);
    --btnFontColor: var(--white);
}

.dark-theme {
    --bg: var(--black);
    --fontColor: var(--green);
    --btnBg: var(--white);
    --btnFontColor: var(--black);
}

.btnTheme {
    position: absolute;
    top: 20px;
    left: 250px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    color: var(--btnFontColor);
    background-color: var(--btnBg);
}

table.center {
    margin-left: auto;
    margin-right: auto;
}

table.table-striped {
    border: 1px solid var(--fontColor);
    border-collapse: collapse;
}

th {
    background-color: #B0E0E6;
    border: 1px solid var(--fontColor);
    border-collapse: collapse;
    position: relative;
    padding: 4px;
}

tr.task-row, td.task-data {
    border: none;
    padding: 4px;
}

tr, td {
    border: 1px solid var(--fontColor);
    border-collapse: collapse;
    padding: 4px;
}

tr:nth-of-type(even) {
    background-color: #D7F6F6;
}

tr:nth-of-type(odd) {
    background-color: #E0FFFF;
}

li {
    list-style: circle;
}

.list {
    list-style: square;
}
